body {
    color :black;
    text-align: center;
    font-family: "Arial";
}

#cabecera{
    text-align: left;
    color: white;
    width: 70%;
    padding: 1em;
    background-color: blue;
    border: 1px solid;
    border-radius: 20px;
    margin: 0px auto;
    box-shadow: 4px 5px 11px -5px rgb(0 0 0);
}

#subtitulo{
    font-weight: 100;
    margin-left: 40;
}